@using AuStr = SistemaAC.UserStrings.AuthStrings
@using GeStr = SistemaAC.UserStrings.GeneralStrings

@model ChangePasswordViewModel
@{
    ViewData["Title"] = AuStr.MaPasTitle;
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword">@AuStr.MaPasCurPass</label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword">@AuStr.MaPasNewPass</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">@AuStr.MaPasConPass</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">@GeStr.GenUpdPass</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
