@using AuStr = SistemaAC.UserStrings.AuthStrings
@using GeStr = SistemaAC.UserStrings.GeneralStrings

@model TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = GeStr.GenTwoFactor;
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>@AuStr.MaTwoNoCodeLeft</strong>
            <p>Debes <a asp-action="GenerateRecoveryCodes">@AuStr.MaTwoGenNewSet</a> antes de iniciar sesión con un código de recuperación.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>Solo queda 1 código de recuperación!!!</strong>
            <p>Puedes <a asp-action="GenerateRecoveryCodes">@AuStr.MaTwoGenNewSet</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>Te quedan @Model.RecoveryCodesLeft códigos de recuperación.</strong>
            <p>Deberías <a asp-action="GenerateRecoveryCodes">@AuStr.MaTwoGenNewSet</a>.</p>
        </div>
    }

    <a asp-action="Disable2faWarning" class="btn btn-default">@GeStr.GenDis2fa</a>
    <a asp-action="GenerateRecoveryCodesWarning" class="btn btn-default">@GeStr.GenResRecov</a>
}

<h5>@AuStr.MaTwoApp</h5>
@if (!Model.HasAuthenticator)
{
    <a asp-action="EnableAuthenticator" class="btn btn-default">@GeStr.GenAddAuth</a>
}
else
{
    <a asp-action="EnableAuthenticator" class="btn btn-default">@GeStr.GenConAuth</a>
    <a asp-action="ResetAuthenticatorWarning" class="btn btn-default">@GeStr.GenResAuth</a>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
